
<div class="firstclass">
<h1 class="text-center ">Welcome</h1>

<p class="text-center ">Before adding calendar to your mail please login with your primary mail</p>
<div class="text-center"><a class="h1 text-center btn btn-primary " href="https://calendar.google.com/calendar/u/0?cid=ZDd0bXMzYWRoNTM3Z29jc2E3YTJpZGU5Ym9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">Add Calender</a></div>
<p  class="text-center ">After clicking above link it shows add this calendar click yes</p>
<p  class="text-center ">Open your calendar and set notification Before 5 mins and 10 mins</p>

<p  class="text-center ">If you are mobile user click options and view desktop site </p>
<p  class="text-center ">Happy Coding</p>
</div>