<nav class="navbar navbar-expand-lg navbar-dark bg-dark   navbar-default  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="padding:0px;">
        <img  src="https://i.pinimg.com/originals/1c/54/f7/1c54f7b06d7723c21afc5035bf88a5ef.png"  class="rounded-circle img-fluid border border-warning " style="height:50px;display:inline-block;"><span>Contest Calendar</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="codechef">Codechef</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="codeforces">Codeforces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="google">Google</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="facebook">Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="hackerearth">Hackerearth</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="topcoder">Topcoder</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" routerLink="signup">Sign Up</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="calender">Calender</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 <router-outlet></router-outlet>


 <app-footer></app-footer>