

























<!-- <button (click)="givename('codechef.com')">codechef.com</button>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 p-5  g-5">
    <div class="col " *ngFor="let  p of user;">  
      <div class="card shadow-lg  " >
         <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7b/Codechef%28new%29_logo.svg/1200px-Codechef%28new%29_logo.svg.png" alt="Card image cap">
              <div class="card-body">
                 <h5 class="card-title text-center"><strong>{{p.event}}</strong></h5>
                 <p class=" p-3">{{p.duration}}</p>
                 <div class="card-footer">
                    <div class="row">
                    <div class="col-6">
                 <p class=" p-3 bold"><button>{{p.resource}}</button></p>
              </div>
</div>
</div> -->